

/* Marthe har kodet dette */


body {
    background: rgb(0, 0, 0);
}

/* Boks hvor alle elementer er plassert inni. 
Inspirert av Magnus
La en mørk gradering på bakgrunnsbildet for å dempe fargen. */
.box {
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.736)), url('/Images/casinoWall.jpg');
    width: 1200px;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Velkomst boks med info om hva brukeren skal gjøre
Inspirert av Apti sin velkomstboks */
.welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 5px;
    max-width: 400px;
    max-height: 350px;
    text-align: center;
    z-index: 1; 
    transform: translate(-50%, -50%);
    animation: boxFade 18.5s forwards;
}

.welcome h3, h4 {
    font-family: sans-serif;
}

.welcome p {
    font-size: 1em;
    font-family: sans-serif;
}

/*Animasjon slik at velkomst-boksen blir borte*/
@keyframes boxFade {
    0%, 25% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
} 

/* Gulvteppet */
.carpet {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 215px;
    background: url(/Images/casinocarpet.jpg) center;
}

/* Her er container for døren */
.doorContainer {
    position: absolute;
    width: 200px;
    height: 360px;
    top: 15px;
    right: 50px;
    border: 5px solid rgb(255, 213, 123);
    background: url(/Images/court.webp) no-repeat center;
    background-size: cover;
}

/* Her er koden til døren.
- Jeg bruker transition for at døren skal åpnes smidigere,
og har lagt til skygge for å kunne gjøre den mer realistisk */
.door {
    position: relative;
    width: 190px;
    height: 350px;
    background-color: rgb(143, 96, 2);
    border: 5px solid rgb(110, 79, 15);
    transform-origin: right;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    transition: all 1.5s ease-in;
}

.gavel img {
    position: absolute;
    height: auto;
    width: 100px;
    top: 50px; 
    left: 50px;
}

/* Jeg la til et dørhåndtak som skyves til siden når man åpner døren
- dørhåndtaket har også fått skygge-effekt */
.doorHandle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 213, 123);
    left: 10px;
    top: 160px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

/* Nedenfor bruker jeg hover og transform: rotateY for å få døren til å åpne seg til siden. 
- I tillegg har jeg lagt til egenskapen perspective. 
Perspective (400px) gjør at døren åpner seg innover og dermed så mer realistisk ut. 
Jeg tok inspirasjon fra en youtube video hvor jeg lærte meg hvordan jeg kan 
ta i bruk egenskapen perspective. 
Youtuber: Lama Dev, Youtube-video: 
https://youtu.be/2KWdT4PkXgY?si=rxRqj8HQrE5nio9_&t=152

Alexander Sundli-Hardig ga meg lov til å bruke egenskapen perspective 
selv om den ikke var skrevet på css-egenskaps skjemaet. */
.door:hover {
    transform: perspective(400px) rotateY(-65deg);
}

/* dørhåndtaket beveges når man hovrer over døren*/
.door:hover .doorHandle {
    left: 30px;
}

.slotMachineContainer {
    position: absolute;
    top: 50px;
    left: 660px;
} 

.slotMachine img {
    position: relative;
    width: 300px;
}

.elvisContainer {
    position: absolute;
    display: inline-block;
    top: 150px;
    left: 530px;
    animation: movement 2s infinite alternate;
}

.elvisContainer img {
    position: absolute;
    height: 375px;
    width: auto;
    transform: scaleX(-1);
}

@keyframes movement {
    100% {
        transform: translateX(15px);
    }
}

/* Jeg har lagt en container for å lettere plassere skiltene */
.cardSignContainer {
    display: flex;
    position: relative;
}

/* Her bruker jeg flex for å plassere skiltene ved siden av hverandre
- Inspirasjon fra zoom-timene
- bruker animasjon for å legge på skygge som endrer farge.
- animasjonen har jeg kalt "colorChangingShadow" */
.sign {
    position: relative;
    height: 90px;
    width: 50px;
    background-color: rgb(255, 241, 111);
    margin: 15px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-weight: bold;
    margin-top: 55px;
    left: 200px;
    animation: colorChangingShadow 4s infinite;
}

.cardSymbol {
    font-size: 2em;
    color: rgb(0, 0, 0);
}

.cardSymbolRed {
    font-size: 2em; 
    color: rgb(255, 0, 0);
}
  
.ace {
    margin-top: 10px;
}

/* her er animasjonen på skygge-effekten */
@keyframes colorChangingShadow {
    0%, 100% {
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    }
    50% {
        box-shadow: 10px 10px 10px rgba(249, 231, 140, 0.99);
    }
}

.pokerContainer {
    position: absolute;
    top: 50%;
    left: 25%;
}

/* Her kodet jeg de forskjellige pokerbrikkene som ligger på poker bordet
Om man beveger musen over brikkene, så skal de kunne flytte på seg*/
.chip {
    position: absolute;
    height: 20px;
    width: 35px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 0.5em;
    color: rgb(255, 255, 255);
    transition: top 1s ease-in-out, left 0.5s ease-in-out;
}

.redChip { 
    background: rgb(255, 0, 0);
    top: 1px; 
    left: 1px; 
}

.blueChip {
    background: rgb(0, 0, 255); 
    top: 1px; 
    left: 85px; 
}

.greenChip { 
    background: rgb(0, 117, 0);
    top: 0px; 
    left: 20px; 
}

.blackChip {
    background: rgb(0, 0, 0); 
    top: 20px; 
    left: 10px; 
}

.chip:hover {
    top: 40px;
    left: 40px;
}

/* Dette er koden for kortene på bordet. For å forkorte koden, samlet jeg pokerCard i en klasse, 
og deretter roterer jeg CardOne og CardTwo */
.pokerCard {
    position: absolute;
    height: 40px;
    width: 25px;
    background-color: rgb(255, 255, 255);
    margin: 15px;
    border: 1.5px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
    font-weight: bold;
    top: 10px;
    left: -45px;
    transition: transform 0.5s;
}

.CardOne {
    transform: rotate(-45deg);
}

.CardTwo {
    transform: rotate(15deg);
}

.symbolSpan {
    color: rgb(255, 0, 0);
}

.pokerCard:hover{
    transform: rotate(0deg);
}

.pokerTableContainer {
    position: absolute;
}

.pokerTable img {
    position: relative;
    width: 100%;
    max-width: 525px;
    height: auto;
    top: 5%;
}